<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"</script>
</head>
<body>
    <h2>Index</h2>
    <div ng-app="emp">
        <div ng-controller="HomeController" ng-init="GetAllData()" class="divList">
            <p class="divHead">List of Employee</p>
            <table cellpadding="12" class="table table-bordered table-hover">
                <tr>
                    <td>
                        <b>FirstName</b>
                    </td>
                    <td>
                        <b>LastName</b>
                    </td>
                    <td>
                        <b>City</b>
                    </td>
                    <td>
                        <b>Contact</b>
                    </td>
                    <td>
                        <b>Gender</b>
                    </td>
                    <td>
                        <b>Actions</b>
                    </td>
                </tr>
                <tr ng-repeat="Emp in employees">
                    <td>
                        {{Emp.FirstName}}
                    </td>
                    <td>
                        {{Emp.LastName}}
                    </td>
                    <td>
                        {{Emp.City}}
                    </td>
                    <td>
                        {{Emp.Contact}}
                    </td>
                    <td>
                        {{Emp.Gender}}
                    </td>
                    <td>
                        <input type="button" class="btn btn-warning" value="Update" ng-click="UpdateEmp(Emp)" />
                        <input type="button" class="btn btn-danger" value="Delete" ng-click="DeleteEmp(Emp)" />
                    </td>
                </tr>
            </table>
            <div class="form-horizontal" role="form">
                <div class="container">
                    <div class="row">
                        <h2>
                            <span id="spn">Add New Employee</span>
                        </h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label">FirstName:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="inputEmail" placeholder="FirstName" ng-model="FirstName">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-lg-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">LastName:</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="inputEmail" placeholder="LastName" ng-model="LastName">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">City:</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="inputPassword" placeholder="City" ng-model="City">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Contact:</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="inputLabel3" placeholder="Contact" ng-model="Contact">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-lg-4">
                                <input type="button" id="btnSave" class="form-control btn-space" value="Submit" ng-click="InsertData()" />
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        @Html.Hidden("EmpID_")

    </div>



</body>
</html>
